/* Common Font Styles */
.font-spoqa {
    font-family: Spoqa Han Sans Neo, sans-serif;
    word-wrap: break-word;
}

/* Font Sizes */
.text-lg {
    font-size: 20px;
}
.text-md {
    font-size: 16px;
}
.text-sm {
    font-size: 14px;
}

/* Font Weights */
.font-bold {
    font-weight: 700;
}
.font-semibold {
    font-weight: 500;
}
.font-normal {
    font-weight: 400;
}

/* Line Heights */
.leading-lg {
    line-height: 28px;
}
.leading-md {
    line-height: 22.40px;
}
.leading-sm {
    line-height: 19.60px;
}

/* Text Colors */
.text-white {
    color: white;
}
.text-light {
    color: rgba(255, 255, 255, 0.90);
}
.text-muted {
    color: rgba(255, 255, 255, 0.60);
}
.text-disabled {
    color: rgba(255, 255, 255, 0.20);
}

/* Specific Text Styles */
.run-analysis {
    @apply text-white text-lg font-bold leading-lg;
}
.run-description {
    @apply text-white text-sm font-normal leading-sm;
}
.select-images {
    @apply text-white text-md font-bold leading-md;
}
.image-type {
    @apply text-light text-sm font-normal leading-sm;
}
.swi-label, .phase-label {
    @apply text-white text-sm font-semibold leading-sm;
}
.select-file {
    @apply text-muted text-sm font-normal leading-sm;
}
.mri-scanner-type {
    @apply text-white text-md font-bold leading-md;
}
.scanner-option {
    @apply text-light text-sm font-normal leading-sm;
}
.reset-button, .run-button {
    @apply text-disabled text-sm font-semibold leading-sm;
}
