.accessbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* or whatever color you want */
    z-index: 1000; /* Ensure it is above other elements */
    height: 50px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
} 
 
.product-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.icon-settings {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.dropdownbuttonl {
    width: 44px;
    border-radius: 3px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
}
.dropdownbuttonl-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.divaderd {
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 18px;
}
.icon-windowminimize {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.buttond {
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px;
}
.icon-closesmall {
    width: 16px;
    position: relative;
    height: 16px;
}
.divaderd-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}
.frame-parent {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}
.accessbard {
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #383838;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;
}

